.frtform-timespan {
    font-size: inherit;
}

.frtform-plus, .frtform-minus {
    font-size: 0.95rem;
    line-height: 0.9rem;
    text-align: center;
}

.frtform-minus {
    line-height: 0.7rem;
}

.frtform-plus, .frtform-minus {
    font-weight: 200;
    font-size: 2rem;
    cursor: pointer;
}

.frtform-disable {
    color: #eee;
    cursor: auto;
}
