.swcal-timespan {
}

.swcal-plus, .swcal-minus {
    font-size: 0.95rem;
    line-height: 0.9rem;
    text-align: center;
}

.swcal-minus {
    line-height: 0.7rem;
}

.swcal-plus, .swcal-minus {
    font-weight: 200;
    font-size: 2rem;
    cursor: pointer;
}

.swcal-disable {
    color: #eee;
    cursor: auto;
}
