.frtform-formelement {

}
.frtform-formgroup {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}
.frtform-formgroup-stack {
    display: flex;
    flex-direction: column;
    /*    align-items: center;*/
    padding-bottom: 0.5rem;
}
.frtform-formheader {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.frtform-form-icon {
    padding-right: 0.7rem;
}
.frtform-formheader-icon {
    cursor: pointer;
}
.frtform-message-add {
    padding: 0 0 0 0.5rem;
}
.frtform-btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.frtform-btn-danger {
    color: #fff;
    background-color: red;
    border-color: #1861ac;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.frtform-input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.frtform-textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.frtform-element-error {
    color: red;
    font-size: 0.8rem;
    margin: 0;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}
.frtform-select {
    border: 2px solid #eee;
    border-radius: 10%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
    background-color: #a9a9a9;
}
/*bootstrap*/
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}
