.swforms-formgroup {
    display: flex;
    align-items: center;
    padding-bottom: 1.2rem;
}
.swforms-formgroup-stack {
    display: flex;
    flex-direction: column;
    /*    align-items: center;*/
    padding-bottom: 1.2rem;
}
.swforms-formheader {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.swforms-form-icon {
    padding-right: 0.7rem;
}
.swforms-formheader-icon {
    cursor: pointer;
}
.swforms-message-add {
    padding: 0 0 0 0.5rem;
}
.swforms-btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border-radius: 10%;
    font-family: inherit;
    line-height: inherit;
}
.swforms-btn-danger {
    color: #fff;
    background-color: red;
    border-color: #1861ac;
    border-radius: 10%;
    font-family: inherit;
    line-height: inherit;
}
button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
    background-color: #a9a9a9;
}
/*bootstrap*/
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}
