@page "/basicform/{FormSpecsName}"
@using Demo.FormClasses.Settings
@using Demo.FormClasses.Utilities
@using Demo.FormClasses.Services
<h3>BasicForm</h3>

<link href="css/BlazoredModalCustom.css" rel="stylesheet"/>
<div class="demoForm"> @*use class for overall form styling*@
    <FormComponent AllSettings="_allSettings" Elements="_elements"
                   FormProcessor="_formProcessor" FormId="@_formId"
                   OnClickCallback="@(HandleClick)" OnSubmitCallback="@(HandleSubmit)">
    </FormComponent>
</div>

@code {
    [Parameter] public string FormSpecsName { get; set; }

    private IAllSettings _allSettings;
    private IFormSpecs _formSpecs;
    private List<IFormElement> _elements;
    private IFormProcessor _formProcessor;
    private string _formId;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var formSpecsDictionary = FormSpecsSetup.FormSpecsDictionary;
        var appSettings = new ApplicationSettings("url", new DummySmsSender(),
            new DummyEmailSender(), formSpecsDictionary);
        if (!formSpecsDictionary.ContainsKey(FormSpecsName))
        {
            var errorMessage = "FormSpecsSetup.FormSpecsDictionary ";
            errorMessage += "does not contain formSpecs named " + FormSpecsName;
            throw new ArgumentException(errorMessage);
        }
        _allSettings = new AllSettings(appSettings, null);
    // Because AppFormSpecsDictionary is static, always use .Clone
        _formSpecs = _allSettings.ApplicationSettings.AppFormSpecsDictionary[FormSpecsName].Clone();
        _elements = new List<IFormElement>();
        // need to avoid passing elements by reference
        // Because FormSpecsDictionary is static
        foreach (var element in _formSpecs.Elements)
        {
            var copy = element.Clone();
            _elements.Add(copy);
        }
        _formProcessor = _formSpecs.FormProcessor;
        _formId = _formSpecs.FormId;
    }

    private void HandleSubmit()
    {
        throw new NotImplementedException();
    }

    private void HandleClick()
    {
        throw new NotImplementedException();
    }

}
