@page "/"
@using Demo.FormClasses.Settings
@using Common.Services

<h1>Demo web app for FRTForm</h1>

Click the link in the menu bar to display a demonstration form using FRTForm

@code {
    private IAllSettings _allSettings;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //var formSettings = FlexResFormSettingsSetup.FlexResFormSettings;
        var appSettings = new ApplicationSettings("url", new DummySmsSender(),
            new DummyEmailSender(), formSettings.FormSpecs, 0.0, 3.5);
        //var calendarSettings = new FlexResForm.BlockTime.Settings.CalendarSettings
        //{
        //    DefaultBlockDuration = 60,
        //    MaxBlockDuration = 120,
        //    MinBlockDuration = 30,
        //    Services = new List<FlexResForm.BlockTime.Models.Service>()// needs to be valued after data available
        //};
        //_allSettings = new AllSettingsCalendar(appSettings, calendarSettings);
    }

}
