@page "/"
@using Demo.FormClasses.Services
@using Demo.FormClasses.Utilities
@using FRTForm.BlockTime.Enums
@using FRTForm.BlockTime.Models
@using FRTForm.BlockTime.Parameters
@using Demo.FormClasses.Parameters

@inject IModalService Modal
@inject NavigationManager NavigationManager

<h1>Demo web app for FRTForm</h1>

<button type="button" @onclick="@(e => HandleClick("demoFormSpecs"))">Launch ModalForm</button>
<button type="button" @onclick="@(e => HandleClick("basicFormSpecs"))">Launch BasicForm</button>

@code {
    private IAllParamsBT _allParams;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // formSpecs could be created directly,
        //  but FormSpecsSetup provides more flexibility as well as testing
        var formSpecs = FormSpecsSetup.FormSpecsDictionary;
        var appSettings = new AppParams("url", new DummySmsSender(),
            new DummyEmailSender(), formSpecs);
        // for a form not using BlockTime, calendarSettings can be null
        var calendarSettings = new CalendarSettings
        {
            DefaultBlockDuration = 60,
            MaxBlockDuration = 120,
            MinBlockDuration = 30,
            Services = new List<Service>()// needs to be valued after data available
        };
        _allParams = new AllParams(appSettings, calendarSettings);
        // for a form not using BlockTime, CurrentBlockParameters can be null
        // so no need to setup calendarDay and block
        var calendarId = "anything";
        var calendarDay= new CalendarDay(calendarId, DateTimeOffset.Now, 1);
        var block = new Block(DateTimeOffset.Now, TimeSpan.FromHours(1), 1,
            BlockType.Available, calendarId);
        _allParams.CurrentBlockParameters =  new CurrentBlockParameters(block, calendarDay,
            "", false, DateTimeOffset.MinValue, DateTimeOffset.MaxValue);
    }

    private void HandleClick(string formSpecsName)
    {
        if (formSpecsName == "demoFormSpecs")
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(DemoForm.AllParams), _allParams);
            parameters.Add(nameof(DemoForm.FormSpecsName), formSpecsName);
            var options = new ModalOptions()
            {
                HideCloseButton = true
            };
            Modal.Show<DemoForm>("", parameters, options);
        }
        else if (formSpecsName == "basicFormSpecs")
        {
            NavigationManager.NavigateTo($"basicForm/{formSpecsName}");
        }
    }
}
